+modalForm('editForm', '/admin/blogitem/edit', 'Изменение', 'modal-lg')
  +formInput('Заголовок', 'title', 'edit-')
  +formInput('Подзаголовок', 'prevu', 'edit-', false)
  +formTextarea('Описание', 'description', 'edit-', false)
  +formInput('Линк', 'link', 'edit-')
  +formInput('Дата', 'date', 'edit-')
  +formInputChooser('Картинка', 'prevuImage', 'edit-')
  +formInputChooser('Видео', 'video', 'edit-')
  +formInput('', 'id', 'edit-', true, 'hidden')
