doctype
html
  head
    include /parts/admin/head
    block head 
      link(href="/css/admin/main.css" rel="stylesheet")
  body
    block header 
      include /parts/admin/header

    block content

    block scripts