section(class="about-text")
  div(class="dark-bg color-white")
    div(class="box")
      div(class="about__box")
        div(class="pb-5 pt-5") 
          div(class="pb-4")
            h4 # Ваш партнер в создании идеального пространства
            p Наш салон - надежный партнер в мире интерьерного дизайна и комплектации. Уже три года мы успешно работаем на рынке, предоставляя широкий спектр материалов для создания уникальных и стильных интерьеров.

          div(class="pb-4")
            h4 # Наша специализация
            p Мы специализируемся на комплексном подходе к интерьерным решениям, предлагая:
            ul
              li Отделочные материалы премиум-класса
              li Декоративные элементы для завершения образа помещения
              li Мебель и аксессуары от ведущих производителей
              li Освещение и электрику для создания нужной атмосферы
          
          div(class="pb-4")
            h4 # Почему выбирают нас
            ul
              li 
                b Опыт и профессионализм.
                span За три года работы мы успели зарекомендовать себя как надежный поставщик качественных материалов.
              li 
                b Широкий ассортимент. 
                span От базовых отделочных материалов до эксклюзивных предметов декора - у нас есть все для воплощения ваших идей.
              li 
                b Индивидуальный подход. 
                span Мы работаем с каждым клиентом индивидуально, помогая подобрать оптимальные решения.
              li 
                b Гарантия качества. 
                span Мы сотрудничаем только с проверенными производителями, гарантируя высокое качество каждого продукта.


          div(class="pb-4")
            h4 # Наша миссия
            p Мы стремимся сделать процесс создания идеального интерьера легким и приятным для наших клиентов. Наша цель - помочь вам воплотить в жизнь самые смелые дизайнерские идеи, предоставляя все необходимые материалы и профессиональную поддержку на каждом этапе.



          div(class="pb-4")
            h4 # Приглашаем к сотрудничеству
            p Будь вы частный клиент, дизайнер интерьера или строительная компания - мы готовы стать вашим надежным партнером в создании неповторимых интерьеров. Доверьте нам комплектацию вашего проекта, и мы превратим любое пространство в произведение искусства!