section(class="about")
  div(class="dark-bg color-white")
    div(class="box")
      div(class="about__box")
        div(class="about__box__info")
          div
            h3 АРХКОМПЛЕКТ
            small(class="text-secondary") основано 2021
          div
            p Салон отделочных материалов с персональным менеджером без переплат. Более 100 тыс. позиций, позволят вам выбрать все отделочные материалы в одном месте с высоким качеством товара по цене от производителя.

        div(class="about__video mt-5")
          video(id="myVideo" autoplay="" muted="" playsinline="" loop="")
            source(src="/video/arh_about.mp4" type="video/mp4") 

