button(class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addForm") Добавить

+modalForm('addForm', '/admin/categories/add', 'Добавление')
  +formInput('Группа', 'name', 'add-')
  +formInput('Линк', 'url', 'add-')