div(class="modal fade" id="chooseForm" data-bs-backdrop="static" tabindex="-1" aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Выбор файла
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close") 

      div(class="modal-body") 
        input(type="hidden" id="choose-caller")
        div(class="files-list") 

script(src="/js/admin/chooser.js")
