extends /layouts/base

block content
  style 
    . 
      body { background: black; }

  div(class="dark-bg color-white p-2" style="margin-top:40px")
    div(class="text-center")
      h1 Страница не найдена

      img(src="/img/travolta.webp", alt="not found" class="p-4")


block footer
  div