section(class="categories")
  div(class="box")
    div(class="categories__list")
      ul(id="item_categories")
        li(class="active" data-id="1")
          span Керамогранит&nbsp;и&nbsp;плитка
        li(data-id="2")
          span Напольные&nbsp;покрытия
        li(data-id="3")
          span Технический&nbsp;и&nbsp;декоративный&nbsp;свет
        li(data-id="1")
          span Обои&nbsp;и&nbsp;фрески
        li(data-id="3")
          span Лепнина
        li(data-id="2")
          span Розетки&nbsp;и&nbsp;выключатели
        li(data-id="1")
          span Сантехника
    

  div(class="categories__items")
    
    
    div(class="categories__items__list active" data-id="1")
    
      a(class="categories__item" href="#")
        div(class="categories__item__info")
          div(class="mb-2")
            <svg width="212" height="26" viewBox="0 0 212 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="header_logo__je0Q7"><g clip-path="url(#clip0_3236_6567)"><path fill-rule="evenodd" clip-rule="evenodd" d="M190.678 6.51998C189.542 5.64771 188.397 5.54069 187.047 5.54069C182.788 5.54069 179.372 8.95655 179.372 13.2152C179.372 17.4738 182.824 20.9255 187.082 20.9255C191.341 20.9255 194.775 17.4828 194.793 13.2421V0H190.678V6.51998ZM183.245 13.2152C183.245 15.2952 184.931 16.9897 187.011 16.9897C189.1 16.9897 190.785 15.2952 190.785 13.2152C190.785 11.1352 189.091 9.44069 187.011 9.44069C184.931 9.44069 183.245 11.1352 183.245 13.2152ZM53.7473 16.7386C52.7969 16.0842 52.8776 14.8828 52.8776 14.8828V10.0055H55.7914V5.90829H52.9045V0.0717395H48.7983V15.071C48.9507 18.451 51.6852 21.1407 55.0294 21.1407C55.2983 21.1407 55.5673 21.1228 55.8273 21.0959V16.8193C55.8273 16.8193 54.608 17.3214 53.7563 16.7386H53.7473ZM62.417 0.107582H58.2301V20.9883H62.417V0.107582ZM31.1094 13.251C31.1094 8.99241 34.5611 5.54068 38.8197 5.54068L38.8287 5.54965C43.0783 5.54965 46.5211 8.98344 46.539 13.2331V20.9255H42.4239V19.7421C41.2763 20.6207 40.1376 20.9255 38.7839 20.9255C34.5163 20.9255 31.1094 17.5096 31.1094 13.251ZM35.0452 13.251C35.0452 15.331 36.7397 17.0255 38.8197 17.0255C40.8997 17.0255 42.5852 15.331 42.5852 13.251C42.5852 11.171 40.8997 9.47655 38.8197 9.47655C36.7397 9.47655 35.0452 11.171 35.0452 13.251ZM117.824 5.4331C113.556 5.4331 110.087 8.90276 110.087 13.1703C110.087 17.4379 113.556 20.9076 117.824 20.9076C122.091 20.9076 125.561 17.4379 125.561 13.1703C125.561 8.90276 122.1 5.4331 117.824 5.4331ZM117.824 16.8283C115.807 16.8283 114.175 15.1876 114.175 13.1703C114.175 11.1531 115.807 9.51241 117.824 9.51241C119.841 9.51241 121.482 11.1531 121.482 13.1703C121.482 15.1876 119.85 16.8283 117.824 16.8283ZM171.276 11.6283V20.9345H175.338V11.6731C175.517 10.4986 176.557 9.54827 177.785 9.54827C177.854 9.54827 177.934 9.54115 178.017 9.53381C178.162 9.52099 178.313 9.50753 178.422 9.53034V5.51379C178.233 5.49586 177.965 5.48689 177.785 5.48689C174.307 5.48689 171.482 8.19448 171.276 11.6193V11.6283ZM203.982 5.37931C208.313 5.37931 211.818 8.88483 211.818 13.2152V13.2241C211.818 13.8069 211.747 14.3807 211.639 14.9276V14.8379H200.163C200.8 16.3262 202.27 17.3662 203.982 17.3662C205.166 17.3662 206.305 16.8014 207.058 16.0124H211.28C210.142 18.9441 207.318 21.0421 203.982 21.0421C199.661 21.0421 196.156 17.5455 196.156 13.2152C196.156 8.88483 199.652 5.37931 203.982 5.37931ZM203.982 9.06414C202.306 9.06414 200.871 10.0593 200.217 11.4938H207.766C207.111 10.0593 205.659 9.06414 203.982 9.06414ZM161.728 5.4331C157.451 5.4331 153.991 8.90276 153.991 13.1703C153.991 17.4379 157.46 20.9076 161.728 20.9076C165.996 20.9076 169.465 17.4379 169.465 13.1703C169.465 8.90276 165.996 5.4331 161.728 5.4331ZM161.728 16.8283C159.711 16.8283 158.07 15.1876 158.07 13.1703C158.07 11.1531 159.702 9.51241 161.728 9.51241C163.754 9.51241 165.377 11.1531 165.377 13.1703C165.377 15.1876 163.745 16.8283 161.728 16.8283ZM127.48 11.6193C127.686 8.19448 130.519 5.48689 133.989 5.48689V5.49586C137.467 5.49586 140.309 8.20344 140.507 11.6283V20.8986H136.418V11.6103C136.23 10.4269 135.217 9.54827 133.989 9.54827C132.76 9.54827 131.72 10.4897 131.541 11.6731V20.9255H127.48V11.6193ZM88.1928 11.2248C85.2521 10.2297 86.3011 8.32 87.8701 8.49931C88.8921 8.61587 89.2776 9.81724 89.2776 9.81724L92.6845 8.47242C91.9404 6.58069 89.9142 5.27173 87.5114 5.27173C84.4811 5.27173 82.0335 7.42345 82.0335 10.0772C82.0335 11.3593 82.3114 12.8028 84.4363 13.8159C85.046 14.1079 85.6851 14.3283 86.283 14.5344C87.7771 15.0495 89.0138 15.4759 88.8921 16.7117C88.7307 18.2628 86.7135 17.8503 86.3638 17.7338C85.0459 17.2766 84.8397 16.0214 84.8397 16.0214L81.639 17.2048C82.5176 20.0917 85.1894 21.1138 87.5921 21.1138C90.6225 21.1138 93.1418 18.9621 93.1418 16.3083C93.1418 15.0172 92.568 13.7083 91.6266 12.8476C91.6266 12.8476 91.1425 12.22 88.2018 11.2159L88.1928 11.2248ZM151.597 9.96069C151.069 9.68342 150.488 9.52214 149.862 9.52138C147.847 9.52381 146.218 11.1546 146.218 13.1703C146.218 15.1876 147.849 16.8283 149.867 16.8283C150.485 16.8283 151.068 16.6759 151.579 16.4069L153.462 20.0379C152.386 20.6028 151.167 20.9166 149.867 20.9166C145.599 20.9166 142.129 17.4379 142.129 13.1703C142.129 8.90276 145.59 5.4331 149.867 5.4331C151.229 5.4331 152.502 5.79172 153.623 6.41034L151.597 9.96069ZM105.855 9.52138C106.482 9.52138 107.065 9.68276 107.594 9.96069L109.611 6.41034C108.491 5.79172 107.218 5.4331 105.855 5.4331C101.578 5.4331 98.1087 8.90276 98.1087 13.1703C98.1087 17.4379 101.578 20.9166 105.855 20.9166C107.146 20.9166 108.374 20.6028 109.45 20.0379L107.558 16.4069C107.047 16.6759 106.473 16.8283 105.855 16.8283C103.829 16.8283 102.197 15.1876 102.197 13.1703C102.197 11.1531 103.829 9.52138 105.855 9.52138ZM64.5687 13.251C64.5687 8.99241 68.0204 5.54068 72.279 5.54068L72.2701 5.54965C76.5197 5.54965 79.9625 8.98344 79.9804 13.2331V20.9255H75.8742V19.7421C74.7356 20.6207 73.597 20.9255 72.2342 20.9255C67.9756 20.9255 64.5687 17.5096 64.5687 13.251ZM68.5135 13.251C68.5135 15.331 70.199 17.0255 72.279 17.0255C74.368 17.0255 76.0535 15.331 76.0535 13.251C76.0535 11.171 74.359 9.47655 72.279 9.47655C70.199 9.47655 68.5135 11.171 68.5135 13.251Z" fill="#111"></path><path d="M12.9014 0.331543L0 13.0715L12.7938 25.9998L25.8117 13.0446L12.9014 0.331543Z" fill="#CC0D2B"></path><path d="M19.2675 10.4447C19.6081 11.2605 19.7964 12.1481 19.7964 13.0805C19.7964 16.8819 16.7123 19.975 12.9109 19.975C9.10953 19.975 6.02539 16.8909 6.02539 13.0805C6.02539 12.1481 6.21367 11.2516 6.54539 10.4447C6.42884 10.9378 6.36608 11.4578 6.36608 11.9867C6.36608 13.206 6.6978 14.3357 7.2716 15.3129C6.60815 13.2957 6.33918 10.9557 8.50884 8.83983C9.48608 7.88052 10.1226 6.77776 10.1226 6.77776C10.1226 6.77776 10.024 7.84466 9.10953 9.01914C8.19505 10.1936 7.11918 12.3722 8.90332 15.7253C8.90332 15.7253 7.70194 12.435 9.39642 10.0502C11.0371 7.74604 10.8309 6.55362 10.8309 6.55362C10.8309 6.55362 11.6557 7.96121 10.4992 9.91569C9.34263 11.8702 9.12746 14.3805 10.6157 16.7116C10.6157 16.7116 9.34263 13.8067 10.5888 11.395C12.2206 8.26604 11.5302 6.33845 11.5302 6.33845C11.5302 6.33845 13.1619 7.93431 11.7185 11.4757C10.3647 14.8109 12.3013 17.3033 12.3013 17.3033C12.3013 17.3033 11.064 14.4343 12.2475 11.7267C13.6999 8.40948 12.4268 6.18604 12.4268 6.18604C12.4268 6.18604 14.4888 8.20328 13.5923 11.1619C12.7675 13.8874 12.8661 15.0171 13.2964 16.4067C13.2964 16.4067 13.0364 14.6316 14.2557 11.3502C15.3585 8.38259 13.3413 6.20397 13.3413 6.20397C13.3413 6.20397 15.8068 7.50397 15.5019 10.7136C15.3944 11.7984 14.6323 13.3047 14.7937 15.0081C15.2509 12.6591 15.9323 12.2736 16.1744 10.624C16.4971 8.44535 14.7309 6.40121 14.7309 6.40121C16.4523 7.32466 17.8509 9.92466 17.0081 12.4171C16.1385 14.9812 16.1385 16.4605 16.1385 16.4605C16.8826 13.7709 17.3578 13.6902 17.6985 12.1212C18.2633 9.51224 16.6675 7.27983 16.6675 7.27983C20.3523 10.7674 18.2275 15.3219 18.2275 15.3219C19.2495 14.1564 19.5544 12.7129 19.393 11.126C19.3661 10.9019 19.3302 10.6778 19.2854 10.4626" fill="white"></path></g><defs><clipPath id="clip0_3236_6567"><rect width="211.819" height="26" fill="white"></rect></clipPath></defs></svg>
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild6361-3337-4136-a139-303934616631/foo-five_pr_2.png" alt="")
    
      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name") COSMO
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3936-3830-4131-b166-346431626635/cosmo_1.png" alt="")

      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name") TOMMY
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3936-3830-4131-b166-346431626635/cosmo_1.png" alt="")

    
    div(class="categories__items__list" data-id="2")
    
      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name") Кровать AIRBLADE
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3262-3666-4165-a433-303733633463/airblade.png" alt="")
    
      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name color-white") Кровать SLIMBED
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3161-3735-4937-a362-356331636130/slimbed_1.jpg" alt="")

      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name") Кровать SOFT
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3531-3934-4561-b062-666164643531/soft_221.jpg" alt="")

    div(class="categories__items__list" data-id="3")
    
      a(class="categories__item" href="#")
        div(class="categories__item__info")
          h2(class="categories__item__name color-white") Стеллаж SORTAGE
          button(class="btn btn-primary") Подробнее
        img(src="https://static.tildacdn.com/tild3161-3936-4366-b131-633261303530/BOCA_SORTAGE_4-2.jpg" alt="") 
