section(class="prevu")
  div(class="video-box")
    div(class="video-container")
      video(id="myVideo" autoplay="" muted="" playsinline="" loop="")
        source(src="/video/arh_prevu.mp4" type="video/mp4") 
      div(class="video-blur")
      h1(class="team__name")= contacts.firm