header 
  div(class="header blur-back ") 
    div(class="header__line")

      div(class="heder__logo")
        a(href="/")= contacts.firm

      div(class="header__icons")
        div(class="header__phone")
          a(href=`tel:+${contacts.tel}`)= contacts.phone
        div(class="header__icon")
          a(href=`https://t.me/+${contacts.tel}`)
            img(src="/img/telegram_1.png")
        div(class="header__icon")
          a(href=`https://wa.me/${contacts.tel}`)
            img(src="/img/whatsapp_1.png")
        div(class="header__icon")
          a(href="#" id="menu-toggler")
            img(src="/img/menu_2.svg")
      
include /parts/menu