@import url('base.css');

body {
  background-color: var(--color-arh);
}

.mw-300 {
  max-width: 300px;
}

.files-list .folder,
.files-list .file {
  cursor: pointer;
}

.files-list .folder:hover,
.files-list .file:hover {
  background-color: #ddd;
}