+modalForm('editForm', '/admin/item/edit', 'Изменение', 'modal-lg')
  +formInput('Фирма', 'name', 'edit-')
  +formInput('Ссылка', 'url', 'edit-')
  +formInputChooser('Картинка', 'img', 'edit-')
  +formInputChooser('Логотип', 'logo', 'edit-')
  +formInput('', 'id', 'edit-', true, 'hidden')
