button(class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addForm") Добавить

+modalForm('addForm', '/admin/settings/add', 'Добавление')
  +formInput('Настройка', 'name', 'add-')
  +formInput('Значение', 'value', 'add-')