+modalForm('editForm', '/admin/settings/edit', 'Изменение')
  +formInput('Настройка', 'name', 'edit-', false, 'text', true)
  +formInput('Значение', 'value', 'edit-')
  +formInput('', 'id', 'edit-', true, 'hidden')