extends /layouts/admin

block head 
  link(href="/css/admin/login.css" rel="stylesheet")

block header 

block content
  div(class="text-center m-auto")
    main(class="form-signin")
      form(method="post" action="/admin")
        div(class="form-floating")
          input(class="form-control rounded-0 rounded-top" id="floatingInput" name="login")
          label(for="floatingInput") Логин
        div(class="form-floating")
          input(type="password" class="form-control" id="floatingPassword" name="password")
          label(for="floatingPassword") Пароль
        
        button(class="w-100 btn btn-lg btn-warning" type="submit") Войти
