extends /layouts/admin

block content
  div(class="d-flex flex-column gap-3 mw-300 p-3 m-auto")
    a(class="btn btn-dark" href='/admin/settings') Настройки
    a(class="btn btn-dark" href='/admin/seo') SEO
    a(class="btn btn-dark" href='/admin/uploads') Загрузки
    a(class="btn btn-dark" href='/admin/blog') Блог
    a(class="btn btn-dark" href='/admin/portfolio') Портфолио
    a(class="btn btn-dark" href='/admin/reviews') Отзывы
    a(class="btn btn-dark" href='/admin/categories') Каталог
