+modalForm('editForm', '/admin/seo/edit', 'Изменение')
  +formInput('Страница', 'page', 'edit-')
  +formInput('Заголовок', 'title', 'edit-')
  +formTextarea('Описание', 'description', 'edit-', false)
  +formInput('Ключевые слова', 'keywords', 'edit-', false)
  +formInput('', 'id', 'edit-', true, 'hidden')